<h1>Listing Games</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.title %></td>
        <td><%= game.user.username %></td>
        <td><%= link_to 'Show', game_url(game) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
